config X86_64
	def_bool y

config X86
	def_bool y
	select HAS_IOPORTS
	select HAS_ACPI
	select HAS_PASSTHROUGH
	select HAS_VIDEO
	select HAS_VGA
	select HAS_CPUFREQ
	select HAS_PCI
	select UART_NS16550
	select UART_EHCI
	select HAS_GDBSX
	select HAS_PDX
	select HAS_KEXEC
	select HAS_MEM_ACCESS
	select HAS_MEM_PAGING
	select HAS_MEM_SHARING

config ARCH_DEFCONFIG
	string
	default "arch/x86/configs/x86_64_defconfig"

menu "Architecture Features"

config COMPAT
	def_bool y
	help
	  32-bit interface support on 64-bit Xen which is used for both
	  HVM and PV guests. HVMLoader makes 32-bit hypercalls irrespective
	  of the destination runmode of the guest.

endmenu

source "common/Kconfig"

source "drivers/Kconfig"
