
config UART_NS16550
	bool "16550-series UART support"
	help
	  This selects the 16550-series UART support. For most systems, say Y.

# Select HAS_IOPORTS if 16550 has I/O ports
config HAS_IOPORTS
	bool
	depends on UART_NS16550
